footer{
    height: 50vh;
    background-color: black;
    color: white;
}
.footer-title{
    text-align: center;
    font-family: 'Beau Rivage', cursive;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 6px;
}
.pro{
    letter-spacing: 10px;
}
.social-icon{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon a{
    text-decoration: none;
    color: white;
    margin: 5px 20px;
    transition: 0.3 all;
}
.social-icon a:hover{
opacity: 0.7;
color: white;
}
.copyright-text{
    opacity: 0.5;
}
@media only screen and (max-width: 516px){
    .footer-title{
        font-size: 20px;
    }

}